appdirs==1.4.4
atomicwrites==1.4.0
attrs
autopep8
Babel
bcrypt
beautifulsoup4
black
bleach
blinker
bokeh
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
cryptography
cycler
Cython
dask
decorator
defusedxml
diff-match-patch
docopt==0.6.2
docutils
entrypoints
executing
fastjsonschema
filelock
flake8
Flask
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
greenlet
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
idna
imageio
imagesize
imbalanced-learn
importlib-metadata
inflection
iniconfig
ipykernel
ipython==8.12.3
ipython-genutils
ipywidgets
isort
itsdangerous
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-client
jupyter-core
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-widgets
jupyterlab-server
kiwisolver
lazy-object-proxy
lightgbm
locket
lxml
lz4
Markdown
matplotlib
matplotlib-inline
mccabe
mistune
msgpack
multidict
mypy
mypy-extensions
nbclient
nbconvert==7.16.6
nbformat
nest-asyncio
networkx
nltk==3.9.1
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pipreqs==0.5.0
pkginfo
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pydeck
pydantic
pydantic_core
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
qtawesome
qtconsole
QtPy
regex
requests
requests-file
requests-toolbelt
rich
rope
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
setuptools==69.5.1
six
smart-open
sniffio
soupsieve
Sphinx
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tenacity
terminado
text-unidecode
threadpoolctl
tifffile
tinycss2
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
ujson
unicodedata2
urllib3
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.43.0
widgetsnbextension
wrapt
xarray
xlwings
yapf
yarl
zipp
zope.interface
zstandard
